# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

hotel_data.json
# Code coverage
coverage

src/controllers/hotel_data.csv
src/controllers/hotel_urls.csv

countries/*

